<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>

</head>
<body>
            <footer class="foot">
                <ul class="foot-links">
                    <li><a href="https://github.com/neelabhnagle83?tab=repositories"><img src="../assets/github.png" alt="GitHub"></a></li>

                    <li><a href="https://linkedin.com/in/neelabh-nagle-60404b227"><img src="../assets/ldin.png" alt="LinkedIn"></a></li>

                    <li><a href="https://mail.google.com/mail/u/?authuser=your-email-neelabhnagle83@gmail.com"><img src="../assets/mail.png" alt="Mail"></a></li>
                </ul>
                

            </footer>

</body>
</html>