<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar">
        <!-- Logo -->
        <div class="logo">
            <img src="../assets/logo.png" alt="Aura-detector logo">
        </div>

        <!-- Navbar Links -->
        <ul class="nav-links">
            <li><a href="#">How it works?</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        
    </nav>

</body>
</html>